body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 197, 197);
    
}
.main p{
    margin-top: 20px ;
}
.user-options{
    display: flex;
    width: 500px ;
    justify-content: space-around;
}
.user-options button{
    border: 1px solid grey;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(15, 122, 152);
    color: white;
    transition: 0.2s ease;
}
.user-options button:hover{
    cursor: pointer;
}
.user-options button:active {
    background-color: aliceblue;
    color: rgb(15, 122, 152);
}